{% extends 'base.html.twig' %}

{% block title %}{{ title }} | Accueil{% endblock %}

{% block body %}
<div class="main-content">
    <section class="home-content">
        <header>
            <h1>{{home_header}}</h1>
        </header>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, quisquam ducimus placeat saepe perspiciatis error possimus animi sequi iste quaerat ut modi, cumque consectetur! Sint commodi corrupti impedit harum eius.
        </p>
    </section>
</div>
{% endblock %}
